.info{
  border: 1px solid #59BD2F;
  border-radius: 50%;
  padding: 0px 3px;
  font-size: 7px;
  font-weight: 600;
  color: #59BD2F;
  cursor: pointer;
}
.add_service{
  background-color: #59BD2F;
  color: #fff;
}

.info_i{
  padding-left:2px ;
  margin-left: 4px;
}

.service_btn{
  margin-top:34px;
}

.btn_btn{
  background-color: #59BD2F;
  color: #fff;
  padding: 7px 50px;
  border-radius: 10px;
}

.amount{
  background: #7fffd48a;
  padding: 10px;
  border-radius: 9px;
}


