.detail-cont{
  padding: 12px;
  font-size: 16px;
}

.just-detail-item{
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.i-card{
  border-radius: 14px;
}

h3{
  color: #4caf50;
  text-align: left;
}

.see_btn{
  outline: none;
  border: none;
  background: none;
}
